ClientClassique/debug/ClientClassique.exe
ClientClassique/debug/main.o
ClientClassique/debug/mainwindow.o
ClientClassique/debug/moc_mainwindow.o
ClientClassique/debug/moc_mainwindow.cpp
*.Release
*.Debug
ClientClassique/Makefile
*.user
Serveur/templates/date.html
*.o
ClientClassique/ClientClassique/Makefile
*.exe
ClientClassique/ClientClassique/debug/moc_mainwindow.cpp
ClientClassique/ClientClassique/ui_mainwindow.h
ClientClassique/debug/moc_piecegetter.cpp
ClientClassique/debug/moc_tetromino.cpp